<html>

<head>
    <title>Elice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script>
        function deleteUser() {
            let username = $("#deleteUser").val();
            $.ajax({
                type: "DELETE",
                url: "/user",
                data: { "username": username },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("삭제에 성공하였습니다.")
                    } else {
                        alert(`삭제에 실패하였습니다. ${response.err}`)
                    }
                    window.location.reload();
                }
            });
        }
    </script>
</head>

<body>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('user') }}">User</a>
    <br />
    <br />
    <br />

    {% block content %} {% endblock %}
</body>

</html>