<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Netflix Database</h1>
    <a href="/">home</a> <a href="/list">list</a>

    <h2>{{ netflix.title }}</h2>

    Show_id: {{ netflix.show_id }}<br>
    Type: {{ netflix.type }}<br>
    Title: {{ netflix.title }}<br>
    Director: {{ netflix.director }}<br>
    Cast: {{ netflix.cast }}<br>
    Country: {{ netflix.country }}<br>
    Date_added: {{ netflix.date_added }}<br>
    Release_year: {{ netflix.release_year }}<br>
    Rating: {{ netflix.rating }}<br>
    Duration: {{ netflix.descridurationption }}<br>
    Listed_in: {{ netflix.listed_in }}<br>
    Description: {{ netflix.description }}<br>

</body>

</html>